<aside class="">

  <div class="flex flex-wrap gap-3 justify-center items-center my-3">
    <a href="#">
      <span class="sr-only"></span>
      <img alt="Kevin logo" class="w-4 h-4 md:w-7 md:h-7 object-cover drop-shadow-xl"
        src="https://kevin-yamil-garcia-lopez.netlify.app/static/media/my%20logo%20A.017635b4.png">
    </a>
    <p class="text-xs font-semibold hidden md:block"> Countries web app </p>
  </div>
  <hr />

  <!-- <div class="flex flex-col justify-center items-center
    transition-all transition-eaise duration-300
    md:justify-start md:items-start gap-5 md:px-3" routerLink="">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
      transition-all transition-eaise duration-300
      hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3" routerLinkActive="bg-slate-600"
      [routerLinkActiveOptions]="{exact: true}">
      <i class='bx bx-home text-xl'></i>
      <p class="hidden md:block">Home</p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center transition-all transition-eaise duration-300
      md:justify-start md:items-start gap-5 md:px-3 relative has-tooltip" routerLink="about">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
        transition-all transition-eaise duration-300
        hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3" routerLinkActive="about">
      <i class='bx bx-copy text-xl'></i>
      <p class="hidden md:block">About</p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center transition-all transition-eaise duration-300
        md:justify-start md:items-start gap-5 md:px-3" routerLink="contact">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
          transition-all transition-eaise duration-300
          hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3">
      <i class='bx bxs-contact text-xl'></i>
      <p class="hidden md:block">Contact</p>
    </div>
  </div> -->


  <div class="flex flex-col justify-center items-center transition-all transition-eaise duration-300
            md:justify-start md:items-start gap-5 md:px-3" routerLink="countries/by-capital">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
              transition-all transition-eaise duration-300
              hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3">
      <i class='bx bxs-city text-xl'></i>
      <p class="hidden md:block">Por capital</p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center transition-all transition-eaise duration-300
                md:justify-start md:items-start gap-5 md:px-3" routerLink="countries/by-region">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
                  transition-all transition-eaise duration-300
                  hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3">
      <i class='bx bx-landscape text-xl'></i>
      <p class="hidden md:block">Por región</p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center transition-all transition-eaise duration-300
                  md:justify-start md:items-start gap-5 md:px-3" routerLink="countries/by-country">
    <div class="flex md:w-full px-2 md:px-3 rounded-lg  md:rounded-xl
                    transition-all transition-eaise duration-300
                    hover:bg-slate-600 py-1 md:py-2 gap-5 cursor-pointer items-center mt-3">
      <i class='bx bxs-planet text-xl'></i>
      <p class="hidden md:block">Por país</p>
    </div>
  </div>

</aside>
